@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Sora:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --primary: #191515;
    --primary-2: #111111;
  }
  
  html {
    overflow-x: hidden;
  }
  
  body {
    font-family: var(--font-lato), sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, button {
    font-family: var(--font-sora), sans-serif;
  }
  
  p, a, span {
    font-family: var(--font-lato), sans-serif;
  }
}



section {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Font sizes - only in global.css */
  .header-link { font-size: 16px; }
  .btn-text { font-size: 16px; }
  .banner-title { font-size: 32px; }  
  .section-title { font-size: 28px; }
  .section-text { font-size: 16px; }
  .card-title { font-size: 20px; }

@media (max-width: 480px) {
  .custom-container { max-width: 90%; }
  .banner-title { font-size: 32px; }
}
@media (min-width: 481px) and (max-width: 767px) {
  .custom-container { max-width: 90%; }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-container { max-width: 90%; }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .custom-container { max-width: 90%; }
}
@media (min-width: 1280px) and (max-width: 1535px) {
  .custom-container { max-width: 90%; }
}

/* as per figma */
@media (min-width: 1536px) and (max-width: 1920px) {
  .custom-container { max-width: 90%; }
  .header-link { font-size: 16px; }
  .btn-text { font-size: 16px; }
  .banner-title { font-size: 32px; }  
  .section-title { font-size: 28px; }
  .section-text { font-size: 16px; }
  .card-title { font-size: 20px; }
}

@media (min-width: 1921px) and (max-width: 2559px) {
  .custom-container { max-width: 1700px; margin: 0 auto; }
    .header-link { font-size: 16px; }
  .btn-text { font-size: 16px; }
  .banner-title { font-size: 32px; }  
  .section-title { font-size: 28px; }
  .section-text { font-size: 16px; }
  .card-title { font-size: 20px; }
}
/* 2k */
@media (min-width: 2560px) and (max-width: 3799px) {
  .custom-container { max-width: 1920px; margin: 0 auto; }
    .header-link { font-size: 18px; }
  .btn-text { font-size: 18px; }
  .banner-title { font-size: 34px; }  
  .section-title { font-size: 30px; }
  .section-text { font-size: 18px; }
  .card-title { font-size: 22px; }
}
@media (min-width: 3800px) {
  .custom-container { max-width: 2000px; margin: 0 auto; }
   .header-link { font-size: 24px; }
  .btn-text { font-size: 24px; }
  .banner-title { font-size: 40px; }  
  .section-title { font-size: 36px; }
  .section-text { font-size: 24px; }
  .card-title { font-size: 28px; }
}

@layer utilities {
  .text-primary {
    color: #191515;
  }
  .bg-primary {
    background-color: #191515;
  }
  .sora {
    font-family: var(--font-sora), sans-serif !important;
  }
  .lato {
    font-family: var(--font-lato), sans-serif !important;
  }
}
