@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Oxanium:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";
@import "aos/dist/aos.css";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #1E1E1E;
}

@theme inline {
  --color-primary: #008FBE;
  --color-secondary: #34414C;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: 'Oxanium', ui-sans-serif, system-ui, sans-serif;
  --font-secondary: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Base Typography */
h1,
span {
  font-size: 2.125rem;
  font-weight: 600;
  font-family: 'Oxanium', sans-serif !important;
}

h2 {
  font-size: 1.750rem;
  font-weight: 600;
  font-family: 'Oxanium', sans-serif !important;
}


h3 {
  font-size: 1.500rem;
  font-family: 'Oxanium', sans-serif;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.000rem;
  font-family: 'Oxanium', sans-serif;
}

h6 {
  font-size: 1.125rem;
  font-family: 'Oxanium', sans-serif;
}

p,
li {
  font-size: 1.000rem;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  font-size: 1.000rem;
  font-family: 'Oxanium', sans-serif;
  font-weight: 500;
}

.footer-heading {
  font-size: 1.500rem;
  font-family: 'Oxanium', sans-serif;
}

.footer-body {
  font-size: 1.125rem;
  font-family: 'Poppins', sans-serif;
}

.button {
  font-size: 1.000rem;
  font-family: 'Oxanium', sans-serif !important;
  font-weight: 600;
}

/* Custom Swiper Pagination */
.custom-swiper-pagination .swiper-pagination-bullets {
  bottom: auto !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 40px !important;
  height: 6px !important;
  border-radius: 2 !important;
  background-color: #E5E7EB !important;
  opacity: 1 !important;
  margin: 0 4px !important;
  transition: background-color 0.3s;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}

/* Mobile Portrait Screen (up to 480px) */
@media (max-width: 480px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 1.381rem;
  }

  h2 {
    font-size: 1.137rem;
  }

  h3 {
    font-size: 0.975rem;
  }

  h4 {
    font-size: 0.731rem;
  }

  h5 {
    font-size: 0.650rem;
  }

  h6 {
    font-size: 0.731rem;
  }

  p,
  li {
    font-size: 0.650rem;
  }

  .navbar {
    font-size: 0.650rem;
  }

  .footer-heading {
    font-size: 0.975rem;
  }

  .footer-body {
    font-size: 0.731rem;
  }

  .button {
    font-size: 0.650rem;
  }

}

/* Mobile Landscape Screen (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .custom-container {
    max-width: 92%;
  }

  h1,
  span {
    font-size: 1.594rem;
  }

  h2 {
    font-size: 1.312rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 0.844rem;
  }

  h5 {
    font-size: 0.750rem;
  }

  h6 {
    font-size: 0.844rem;
  }

  h7 {
    font-size: 0.750rem;
  }

  p,
  li {
    font-size: 0.750rem;
  }

  .navbar {
    font-size: 0.750rem;
  }

  .footer-heading {
    font-size: 1.125rem;
  }

  .footer-body {
    font-size: 0.844rem;
  }

  .button {
    font-size: 0.750rem;
  }

}

/* Tablet / Tab Screen (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 1.806rem;
  }

  h2 {
    font-size: 1.488rem;
  }

  h3 {
    font-size: 1.275rem;
  }

  h4 {
    font-size: 0.956rem;
  }

  h5 {
    font-size: 0.850rem;
  }

  h6 {
    font-size: 0.956rem;
  }

  p,
  li {
    font-size: 0.850rem;
  }

  .navbar {
    font-size: 0.850rem;
  }

  .footer-heading {
    font-size: 1.275rem;
  }

  .footer-body {
    font-size: 0.956rem;
  }

  .button {
    font-size: 0.850rem;
  }

}

/* Laptop Screen (1024px - 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.750rem;
  }

  h3 {
    font-size: 1.500rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1.000rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  p,
  li {
    font-size: 1.000rem;
  }

  .navbar {
    font-size: 1.000rem;
  }

  .footer-heading {
    font-size: 1.500rem;
  }

  .footer-body {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.000rem;
  }

}

/* Desktop PC Screen (1280px - 1535px) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.750rem;
  }

  h3 {
    font-size: 1.500rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1.000rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  p,
  li {
    font-size: 1.000rem;
  }


  .navbar {
    font-size: 1.000rem;
  }

  .footer-heading {
    font-size: 1.500rem;
  }

  .footer-body {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.000rem;
  }

}

/* Large Desktop PC Screen (1536px - 1919px) */
@media (min-width: 1536px) and (max-width: 1919px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.750rem;
  }

  h3 {
    font-size: 1.500rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1.000rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  p,
  li {
    font-size: 1.000rem;
  }

  .navbar {
    font-size: 1.000rem;
  }

  .footer-heading {
    font-size: 1.500rem;
  }

  .footer-body {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.000rem;
  }

}

/* Extra Large PC / 2K Screen (1920px - 2499px) */
@media (min-width: 1920px) and (max-width: 2499px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.750rem;
  }

  h3 {
    font-size: 1.500rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1.000rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  p,
  li {
    font-size: 1.000rem;
  }

  .navbar {
    font-size: 1.000rem;
  }

  .footer-heading {
    font-size: 1.500rem;
  }

  .footer-body {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.000rem;
  }

}

/* Ultra-wide Screen / Max Cover (2500px - 3799px) */
@media (min-width: 2500px) and (max-width: 3799px) {
  .custom-container {
    max-width: 85%;
  }

  h1,
  span {
    font-size: 3.188rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  h3 {
    font-size: 2.250rem;
  }

  h4 {
    font-size: 1.688rem;
  }

  h5 {
    font-size: 1.500rem;
  }

  h6 {
    font-size: 1.688rem;
  }

  p,
  li {
    font-size: 1.500rem;
  }

  .navbar {
    font-size: 1.500rem;
  }

  .footer-heading {
    font-size: 2.250rem;
  }

  .footer-body {
    font-size: 1.688rem;
  }

  .button {
    font-size: 1.500rem;
  }

}

/* 4K Ultra-wide Screen / Max Cover (3800px and above) */
@media (min-width: 3800px) {
  .custom-container {
    max-width: 90%;
  }

  h1,
  span {
    font-size: 4.250rem;
  }

  h2 {
    font-size: 3.500rem;
  }

  h3 {
    font-size: 3.000rem;
  }

  h4 {
    font-size: 2.250rem;
  }

  h5 {
    font-size: 2.000rem;
  }

  h6 {
    font-size: 2.250rem;
  }

  p,
  li {
    font-size: 2.000rem;
  }

  .navbar {
    font-size: 2.000rem;
  }

  .footer-heading {
    font-size: 3.000rem;
  }

  .footer-body {
    font-size: 2.250rem;
  }

  .button {
    font-size: 2.000rem;
  }

}

/* Swiper Custom Pagination overrides */
.custom-pagination-lines .swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  width: 48px !important;
  height: 6px !important;
  border-radius: 0 !important;
  transform: skewX(-35deg) !important;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.custom-pagination-lines .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}